<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466506847722-jer3i6tkt4d7vau0kajc2n5j61501kbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466506847722-jer3i6tkt4d7vau0kajc2n5j61501kbc</string>
	<key>API_KEY</key>
	<string>AIzaSyB7I-zyKcWcwRX2TsbCA9o5JOmhZTESOvE</string>
	<key>GCM_SENDER_ID</key>
	<string>466506847722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rodrigo-Velasco.Friends</string>
	<key>PROJECT_ID</key>
	<string>friendsios</string>
	<key>STORAGE_BUCKET</key>
	<string>friendsios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466506847722:ios:c5d9f6861bbcc0a559ce93</string>
	<key>DATABASE_URL</key>
	<string>https://friendsios.firebaseio.com</string>
</dict>
</plist>